
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Không có quyền
}
<div class="alert alert-danger">Bạn không có quyền truy cập vào trang này.</div>

