@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh mục tin tức
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Danh mục tin tức
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên bài viết</th>
                                <th>Người viết</th>
                                <th>Ngày viết</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="success">
                                    <td>
                                        <a href="/Content/Edit/@item.ID">Sửa</a>
                                        <a href="/Content/Delete/@item.ID">Xóa</a>
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy")</td>
                                </tr>
                            }
                            
                            
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>